.services-section{
    margin: 0%;
    background-color: #FFEED1;
   min-height: 1250px;
    margin-bottom: 15px;
}

.services-main-title{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    color: #FF0000;
    font-size: 100px;
    margin:0 ;
    width: 100vw;
    text-align: center;
    height: 134px;
    padding-top: 35px;
}

.service-container{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #FF3D37;
    margin-top: 44px;

}

.service-container2{
    display: flex;
    flex-direction: row-reverse;
}

.service-title{
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 48px;
    max-width: 20vw;
    line-height: 97%;
    letter-spacing: 0.96px;
    color: #FCFF35;
    margin-left: 50px;
    min-height: 185px;
    margin: auto;

}

.service-description{
    font-size: 22px;
    color: white;
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
    line-height: 172%;
    letter-spacing: 0.88px;
    width: 618px;
    margin-left: 3vw;
    min-height: 185px;
}

.service-image-container{
    height: auto;
    margin-left: auto;
    width: 25vw;
}
.services-img{
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center;

}

/*Small mobile*/
@media (max-width:400px){
    .services-section{
        min-height: 500px;

    }
    .services-main-title{
        font-size: 48px;
        height: 40px;
    }

    .service-container{
        display: flex;
        flex-direction: column;
        min-height: 170px;
        margin-bottom: 15px;
    
    }
    .service-title{
        font-size: 33px;
        max-width: 96vw;
        margin: 0%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top:15px;
        min-height: 30px;
        margin-bottom: 5px;

    }
    .service-description{
        font-size: 17px;
        line-height: 150%;
        width: 90vw;
        text-align: justify;
        margin: 0%;
        margin-left: auto;
        margin-right: auto;
        min-height: 185px;
        padding-bottom: 10px;
        hyphens: auto;

    }
    .services-img{
        display: none;
    }


}


