.product-session{
    margin-left: 43px;
}

@media (min-width:400px) and (max-width:575px) {
    .product-session{
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .product-session{
        margin-left: 10px;
    }
    
}