.product-session{
    margin-left: 43px;
}

.category-container{
    width: 90%;
    height: 64px;
    background-color: #FF4747;
    border-radius: 10px;
    margin-top: 29px;
}

.category{
    font-family: 'Teko',sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
    margin-right: auto;
    height: 100%;
    /* width: 420px; */
    text-align: left;
    align-content: center;
    padding-left: 15px;
}